    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
   
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

     header {
      background: #333 url("4.jpg") no-repeat center center/cover;
      color: #fff;
      height: 100vh;
      text-align: center;
      font-size: 1.5rem;
      padding: 2rem;
      padding-top: 20rem;
    }

        header h1 {
      font-size: 3rem;
      /* 16 x 3 */
    }

    header p {
      margin: 1rem 0;
      /* margin: 1rem ( top and bottom
       0; left & right */
    }

    .btn {
      display: inline-block;
      /* by default all links are inline */
      text-decoration: none;
      background: #f4f4f4;
      color: #333;
      padding: 0.75rem 2rem;
    }

    section {
      padding: 2.5rem;
        text-align: center;
    }

    @media(max-height: 450px) {
      header {
        padding-top: 5rem;
      }
    }